body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, red , yellow); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: #D3E1E7 ;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

input[type=color].text {
  background-color: #b8d8e0;
  border: none;
  border-radius: 100px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

button {
    color: #fff;
    background-color: #155494;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    border-style: none;
}


